<!DOCTYPE html>
<!-- project from Ruby with Sinatra basics -->
<!-- 20211014 blh -->

<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
