<!-- project from Ruby with Sinatra basics -->
<!-- 20211014 blh -->

    <h1>The Wiki Playground is now Open!</h1>

    <p>Add a page name to the URL to view a page
    </p>

    <p>or <a href="/new">create a new page</a>
    </p>
